@import url('./principal.css');

/* Modificaciones al banner */
.banner {
    background-image: url('../src/image/banner1.png'); /* Reemplaza con la URL de tu imagen */
    background-size: cover;
    background-position: center;
    height: calc(100vh - 94px); /* Resta el tamaño de la barra de navegación (56px) */
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    text-align: left;
    position: relative;
}

.banner div{
    width: 30%;
    margin-left: 5%;
}
.banner h1{
    color: var(--color-azul);
    font-weight: 800;
    font-size: 60px;
    filter: brightness(3);
}

.banner p{
    font-size: 20px;
}

.banner a{
    font-weight: 800;
}


/* DIV PRESENTACION*/
.presentacion{
    width: 50%;
    margin: auto;
    color: var(--color-gris);
    margin-top: 8vh;
    margin-bottom: 8vh;
    font-family: var(--font-montserrat);
    font-weight: 800;
    font-size: 20px;
}

/* DIV SERVICIOS URGENTES */
.urgentes{
    margin-bottom: 13vh
}

.urgentes h2{
    font-weight: 800;
    color: var(--color-azul);
    font-size: 38px;
}

.cardt .front{
    width: 231px;
    height: 350px;
    background-image: url('../src/image/servicios.jpg'); /* Reemplaza con la URL de tu imagen */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.cardt h3{
    color: #fff;
    top: 0;
    font-family: var(--font-montserrat);
    font-weight: 600;
    font-size: 33px;
}

.cardt .back{
    width: 231px;
    height: 350px;
    background-color: var(--color-gris);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 2;
    visibility: hidden;
    transition: all 0.3s ease 0s;
}

.back p{
    font-family: var(--font-montserrat);
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
}

.cardBox:hover .back{
    visibility: visible;
}


.urgentes .btn{
    margin-top: 5vh;
    padding-left: 70px;
    padding-right: 70px;
    font-weight: 600;
}


/* DIV NUESTRA HISTORIA*/
.historia{
    width: 100%;
    height: 600px;
    background-image: url('../src/image/banner1_rojo.png');
    background-size: cover;
    background-position: center;
}

.historia h2{
    color: #fff;
    font-weight: 800;
    font-size: 60px;
    padding-top: 10vh;
}

.historia p{
    color: #fff;
    font-family: var(--font-montserrat);
    font-weight: 600;
    font-size: 18px;
    padding: 10vh 10vw 0 10vw;
}


/* DIV MISION Y VISION */
.misionVision{
    margin-top: 10vh;
}

.card{
    text-align: center;
    margin: auto;
    border: none;
    justify-content: center;
    align-items: center;
    
}

.card img{
    width: 15rem;
}

.card h3{
    color: var(--color-azul);   
    font-weight: 800;
    font-size: 38px;
    margin-bottom: 3vh;
}

.card p{
    font-family: var(--font-montserrat);
    color: var(--color-gris);
    font-weight: 700;
    font-size: 18px;
}