@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --color-gris: #545454;
    --color-rojo: #ff3131;
    --color-azul: #001a77;
}

*{
    font-family: "Open Sans", sans-serif;
}

